.hiden {
  display: none;
}

.btn-social{
  width:50px;
}

.test:after {
  content: '\2807';
  font-size: 1em;
  color: #2e2e2e
}

.divPublicaciones {
  display: inline-block;
}

.publicar {
  height: 100px;
  width: 500px;
}

.post {
  width: 500px;
}
